@charset "UTF-8";
.wrap__fv__box__nav {
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 10;
}

.wrap__fv__box__nav nav {
  position: relative;
  text-shadow: 0 0 0.2em purple;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin: 80px auto 0;
  z-index: 10;
}

.wrap__fv__box__nav nav p {
  font-family: "RoGaramond";
}

.wrap__fv__box__nav nav p a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

.wrap__fv__box__nav nav p .home:before {
  position: absolute;
  top: 12px;
  left: 6%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
}

.wrap__fv__box__nav nav p .home:after {
  position: absolute;
  top: 12px;
  left: 6%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
  border-width: 2px;
  transition: all 0.4s;
}

.wrap__fv__box__nav nav p .home:hover:before {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.wrap__fv__box__nav nav p .home:hover:after {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.wrap__fv__box__nav nav p .skill:before {
  position: absolute;
  top: 12px;
  left: 33.5%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
}

.wrap__fv__box__nav nav p .skill:after {
  position: absolute;
  top: 12px;
  left: 33.5%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
  border-width: 2px;
  transition: all 0.4s;
}

.wrap__fv__box__nav nav p .skill:hover:before {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.wrap__fv__box__nav nav p .skill:hover:after {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.wrap__fv__box__nav nav p .works:before {
  position: absolute;
  top: 12px;
  left: 61%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
}

.wrap__fv__box__nav nav p .works:after {
  position: absolute;
  top: 12px;
  left: 61%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
  border-width: 2px;
  transition: all 0.4s;
}

.wrap__fv__box__nav nav p .works:hover:before {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.wrap__fv__box__nav nav p .works:hover:after {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.wrap__fv__box__nav nav p .content:before {
  position: absolute;
  top: 12px;
  left: 92%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
}

.wrap__fv__box__nav nav p .content:after {
  position: absolute;
  top: 12px;
  left: 92%;
  width: 50px;
  height: 50px;
  border: 4px solid #6300B5;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
  border-width: 2px;
  transition: all 0.4s;
}

.wrap__fv__box__nav nav p .content:hover:before {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.wrap__fv__box__nav nav p .content:hover:after {
  opacity: 0.5;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

body .wrap__fv {
  position: relative;
}

body .wrap__fv__bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  padding: 30%;
  box-sizing: border-box;
}

body .wrap__fv__box__title {
  transition: 1s ease;
  position: absolute;
  right: 0px;
  top: 350px;
  bottom: 0;
  z-index: 10;
  width: 1000px;
  height: 0;
  margin: auto;
  color: #fff;
}

body .wrap__fv__box__title h1 {
  font-family: "RoGaramond";
  font-size: 4vw;
  text-shadow: 0 0 0.2em purple;
  font-weight: lighter;
  text-align: center;
}

body .wrap__fv__box__title h1 span {
  -webkit-animation: blink .6s infinite alternate;
          animation: blink .6s infinite alternate;
}

@-webkit-keyframes blink {
  60% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.4);
  }
  70% {
    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  }
  80% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.4);
    text-stroke: 2px rgba(255, 255, 255, 0.05);
  }
  100% {
    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  }
}

@keyframes blink {
  60% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.4);
  }
  70% {
    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  }
  80% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.4);
    text-stroke: 2px rgba(255, 255, 255, 0.05);
  }
  100% {
    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  }
}

body .wrap__fv__box__title h2 {
  text-shadow: 0 0 0.2em purple;
  text-align: center;
}

body .wrap__profile {
  position: relative;
}

body .wrap__profile__bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  padding: 30%;
  box-sizing: border-box;
}

body .wrap__profile__box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 600px;
  margin: 88px auto 0;
  color: #fff;
  font-family: "A P-OTF A1ゴシック StdN";
}

body .wrap__profile__box__text {
  height: 100%;
  margin: 160px 96px 0 0;
  line-height: 1;
}

body .wrap__profile__box__text h2 {
  margin: 32px 0 24px;
  font-size: 24px;
}

body .wrap__profile__box__text p {
  margin: 8px 0 0;
  font-size: 16px;
}

body .wrap__profile__box__text h3 {
  margin: 16px 0 0;
  font-size: 18px;
}

body .wrap__profile__box__text__name {
  height: 120px;
  border-bottom: 1px #707070 solid;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
}

body .wrap__profile__box__text__name h2 {
  font-size: 30px;
}

body .wrap__profile__box__text__hobby {
  height: 160px;
  border-bottom: 1px #707070 solid;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.3s;
}

body .wrap__profile__box__text__content {
  height: 60px;
  border-bottom: 1px #707070 solid;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.5s;
}

body .wrap__profile__box__text__content p {
  margin: 32px 0 0;
}

body .wrap__slide {
  position: relative;
  font-family: "A P-OTF A1ゴシック StdN";
}

body .wrap__slide__bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  padding: 30%;
  box-sizing: border-box;
}

body .wrap__slide .wrap_slide__life {
  position: absolute;
  left: 130px;
  top: 130px;
  z-index: 11;
  color: #fff;
  font-size: 30px;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.4s;
}

body .wrap__slide .swiper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  z-index: 11;
  width: 80vw;
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.4s;
}

body .wrap__slide .swiper .swiper-container {
  margin: 200px 0 0;
}

body .wrap__slide .swiper .swiper-container .swiper-wrapper {
  height: 500px;
}

body .wrap__slide .swiper .swiper-container .swiper-wrapper .swiper-slide .swiper__box {
  font-family: "A P-OTF A1ゴシック StdN";
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

body .wrap__slide .swiper .swiper-container .swiper-wrapper .swiper-slide .swiper__box__year {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
}

body .wrap__slide .swiper .swiper-container .swiper-wrapper .swiper-slide .swiper__box__flex {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body .wrap__slide .swiper .swiper-container .swiper-wrapper .swiper-slide .swiper__box__flex__img {
  margin: 50px 0 0;
}

body .wrap__work {
  position: relative;
}

body .wrap__work__bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  padding: 40%;
  box-sizing: border-box;
}

body .wrap__work__box {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
}

body .wrap__work__box__content__work {
  color: #fff;
  font-family: "RoGaramond";
  font-size: 30px;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.4s;
}

body .wrap__work__box__content__year {
  color: #fff;
  font-family: "A P-OTF A1ゴシック StdN";
  font-size: 30px;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.5s;
}

body .wrap__work__box__content__items {
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: all ease 1s;
  transition-delay: 0.8s;
}

body .wrap__work__box__content__items p {
  margin: 8px 0 0;
}

body .wrap__work__box__content__items p a img {
  transition: ease-in-out 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
}

body .wrap__work__box__content__items p a img:hover {
  opacity: 0.7;
}

body .wrap__work__box__content__items__time {
  display: flex;
}

body .wrap__work__box__content__items__technique {
  display: flex;
  align-items: center;
}

body .cd-bg-1 {
  background-image: url("../img/back-img-title.png");
}

body .cd-bg-2 {
  background-image: url("../img/stone-img.png");
}

body .cd-bg-3 {
  background-image: url("../img/back-black.png");
}

body .cd-bg-4 {
  background-image: url("../img/stone-img.png");
}
