@import"vars.scss";
@import"nav.scss";

body{   
  .wrap{ 
    &__fv{
      position: relative;
      &__bg{
        position: relative;
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
        padding: 30%;
        box-sizing: border-box;
      }
      &__box{
        &__title{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 10;
          width: 1000px;
          height: 0;
          margin: auto;
          color: #fff;
          h1{
            font-family: "RoGaramond";
            font-size: 6vw;
            text-shadow: 0 0 0.2em rgba(128,0,128,1);
            font-weight: lighter;
            text-align: center;
            span{
              animation: blink .6s infinite alternate;
            }
            @keyframes blink{
              60%{
                text-shadow: 
                  0 0 2px rgba(255, 255, 255, .1), 
                  0 0 10px rgba(255, 255, 255, .4);
              }
              70%{
                text-shadow: 
                  0 0 2px rgba(255,255,255,1), 
                  0 0 10px rgba(255,255,255,1), 
                  0 0 20px rgba(255,255,255,1), 
                  0 0 30px rgba(255,255,255,1), 
                  0 0 40px #ff00de, 
                  0 0 70px #ff00de, 
                  0 0 80px #ff00de,
                  0 0 100px #ff00de;
              }
              80%{
                text-shadow: 
                  0 0 2px rgba(255, 255, 255, .1), 
                  0 0 10px rgba(255, 255, 255, .4);             
                text-stroke: 2px rgba(255,255,255,0.05);
              }
              100% { 
                text-shadow: 
                  0 0 2px rgba(255,255,255,1), 
                  0 0 10px rgba(255,255,255,1), 
                  0 0 20px rgba(255,255,255,1), 
                  0 0 30px rgba(255,255,255,1), 
                  0 0 40px #ff00de, 
                  0 0 70px #ff00de, 
                  0 0 80px #ff00de,
                  0 0 100px #ff00de;
              }
              
            }
          }
          h2{
            text-shadow: 0 0 0.2em rgba(128,0,128,1);
            text-align: center;
          }
        }
      }
    }
    &__profile{
      position: relative;
      &__bg{
        position: relative;
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
        padding: 30%;
        box-sizing: border-box;
      }
      &__box{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 600px;
        margin: 88px auto 0;
        color: #fff;
        font-family: "A P-OTF A1ゴシック StdN";
        // background: #242424;
        &__text{
          height: 100%;
          margin: 160px 96px 0 0;
          line-height: 1;
          h2{
            margin: 32px 0 24px;
            font-size: 24px;
          }
          p{
            margin: 8px 0 0;
            font-size: 16px;
          }
          h3{
            margin: 16px 0 0;
            font-size: 18px;
          }
          &__name{
            height: 120px;
            border-bottom: 1px #707070 solid;
            h2{
              font-size: 30px;
            }
          }
          &__hobby{
            height: 160px;
            border-bottom: 1px #707070 solid;
          }
          &__content{
            height: 60px;
            border-bottom: 1px #707070 solid;
            p{
              margin: 32px 0 0;
            }
          }
        }
      }
    }
    &__slide{
      position: relative;
      font-family: "A P-OTF A1ゴシック StdN";
      &__bg{
        position: relative;
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
        padding: 30%;
        box-sizing: border-box;
      }
      .wrap_slide__life{
        position: absolute;
        left: 130px;
        top: 130px;
        z-index: 11;
        color: #fff;
        font-size: 30px;
      }
      .swiper{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
        z-index: 11;
        width: 80vw;
        margin: 0 auto;
        .swiper-container{
          margin: 200px 0 0;
          // width: 80vw;
          // margin: 0 auto;
          .swiper-wrapper{
            height: 500px;
            .swiper-slide{
              .swiper__box{
                font-family: "A P-OTF A1ゴシック StdN";
                position: relative;
                width: 100%;
                margin: 0 auto;
                color: #fff;
                &__year{
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 40px;
                }
                &__flex{
                  font-size: 30px;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  &__content{

                  }
                  &__img{
                    margin: 50px 0 0;
                  }
                }

              }
            }
          }
        }
      }
    }
    &__work{
      position: relative;
      &__bg{
        position: relative;
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
        padding: 30%;
        box-sizing: border-box;
      }
    }
    
  }
  .cd-bg-1  {
    background-image: url('../img/back-img.svg');
  }
  .cd-bg-2  {
    background-image: url('../img/stone-img.jpg');
  }
  .cd-bg-3  {
    background-image: url('../img/back-img.svg');
  }
  .cd-bg-4  {
    background-image: url('../img/stone-img.jpg');
  }
}